.table {
    margin: auto;
    width: 75%;
    border-collapse: collapse;
}

    .table thead {
        vertical-align: bottom;
        border: 2px solid #359DD9;
    }

    .table tbody tr {
        border: 1px solid #359DD9;
        border-left: 2px solid #359DD9;
        border-right: 2px solid #359DD9;
    }

    .table td {
        padding: 10px;
        text-align: center;
    }

.pick-number {
    width: 60px;
    height: 35px;
    padding: 10px;
}

    .pick-number:focus {
        outline: none;
    }

.button {
    border-radius: 5px;
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn-save {
    background-color: #359DD9;
    color: white;
}

.btn-primary {
    background-color: #ccc;
    font-weight: 500;
}

:focus-visible {
    border-color: none;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.tag {
    border-radius: 7px;
    font-size: 16px; color: white;
}

.tag-warning {
    background-color: orange;
}
.tag-danger{
    background-color: red;
}
.tag-success {
    background-color: #198754;
}



.body__button {
    width: 450px;
    text-align: center;
    padding-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .2s ease;
    border: none;
}

    .button:hover {
        opacity: 0.7;
    }

    .button + .button {
        margin-left: 16px;
        margin-top:16px;
    }

.btn-save {
    background-color: #4848F4;
    color: white;
    padding: 15px 30px;
}

.btn-cancel {
    background-color: #FF0000;
    color: white;
}

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
}

.close-btn {
    background-color: #4848F4;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
   
}

section.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.modal-box i {
    font-size: 70px;
    color: #4070f4;
}

section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal-box h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.modal-box button {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 10px;
}

.modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
}
.buttons {
    background-color: #359DD9;
    padding: 10px 15px;
    border-radius: 15px;
}

.button-back {
    color: white;
}

.row-info {
    display: flex;
    width: 75%;
    margin: auto;
}

.input {
    outline: none;
    width: 50%;
    flex: 0.75;
}

.row-info h4 {
    flex: 0.2;
    margin: 20px;
}

.input input {
    margin: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    transition: .12s linear;
}

    .input input:focus {
        border: 2px solid #F0BB59;
    }
