.container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 100px;
}


.btn--change-pass {
    background-color: #359DD9;
    color: white;
    display: inline-block;
    padding: 5px 70px;
    /* border-radius: 50px; */
    cursor: pointer;
    transition: opacity .2s ease;
    align-items: center;
}

    .btn--change-pass:hover {
        opacity: 0.7;
    }

.change-pass__button {
    padding-top: 30px;
}

.Profile-avatar {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
    .Profile-avatar img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
.item--detail {
    padding-top: 70px;
}

.row {
    display: flex;
    justify-content: center;
    padding-left: 60px;
}
h3 {
    color: #359DD9;
}
h4 {
    margin: 0px;
    padding-right: 40px;
}

.Profile-name {
    display: flex;
    padding-right: 30px;
    align-items:center;
}

.Profile__icon {
    color: #F0BB59;
}

h4 {
    width: 180px;
    padding-bottom: 15px;
}

.label {
    flex: 1;
    padding-right: 60px;
}

.name {
    
    padding: 15px;
    /* position: absolute; */
}
