@{
    ViewBag.Title = "Giới thiệu";
}
@section styles{
    <link href="~/Content/GioiThieu.css" rel="stylesheet" />
}
<h2 style="color: #359DD9;">Giới thiệu</h2>
<hr style="width: 12%; border: 1px solid #359DD9;">
<div class="container__content"  data-aos="fade-down">
    <div class="content--img">
        <img src="~/Anh/img/img/content-img1.jpg" alt="">
    </div>
    <div class="content">
        <h3 style="color: #359DD9; text-align: center;">CÔNG TY ELECTIONICS SHOP</h3>
        <p>
            Công ty ELECTIONICS SHOP chuyên cung cấp các thiết bị điện gia dụng từ trong nước đến nhập khẩu. Trải qua hơn 10 năm
            xây dựng và phát triển, chúng tôi đã phân phối hơn 25% sản phẩm trên thị trường Đà Nẵng, từng bước nâng cao niềm tin
            và vị thế với khách hàng.
        </p>
    </div>

</div>
<div class="container__content"  data-aos="fade-down" style="background-color: transparent; background-image: url(../../Anh/img/img/content-img3.jpg); height: 400px;">
    <div class="content" style="width: 47%; background: linear-gradient(to right, #333 0.5%, transparent 80%);">
        <h3 style="color: white; text-align: center; padding-top: 50px;">SỨ MỆNH</h3>
        <p style="color:azure; font-style: italic;">
            Cam kết cung cấp các thiết bị điện gia dụng với nhiều mẫu mã khác nhau, chất lượng cao với giá cả hợp lí.
            Dịch vụ chăm sóc khách hàng chuyên nghiệp và chu đáo.
            <br>Chung tay nâng cao chất lượng cuộc sống người dân Việt Nam.
        </p>
    </div>
    <div class="content--img">

    </div>
</div>
<div class="container__content"  data-aos="fade-down">
    <div class="content--img">
        <img src="~/Anh/img/img/content-img4.jpg" alt="">
    </div>
    <div class="content" style="padding-left: 100px;">
        <h3 style="color: #359DD9; text-align: center;">GIÁ TRỊ CỐT LÕI</h3>
        <ul style="list-style: none;">
            <li class="content--value">
                Chất lượng hàng đầu:
                <span style="font-style: normal; font-weight: normal;">  Cung cấp sản phẩm với chất lượng tiêu chuẩn và giá cả phải chăng</span>
            </li>
            <li class="content--value">
                Dịch vụ chuyên nghiệp:
                <span style="font-style: normal; font-weight: normal;">Hỗ trợ tư vấn 24/7, dịch vụ bảo hành, ưu đãi hấp dẫn.</span>
            </li>
            <li class="content--value">
                Hướng tới khách hàng:
                <span style="font-style: normal; font-weight: normal;">Chăm sóc khách hàng tận tâm, nhiệt tình và cởi mở.</span>
            </li>
            <li class="content--value">
                Sáng tạo để thành công:
                <span style="font-style: normal; font-weight: normal;">Không ngừng đổi mới, tiếp thu chọn lọc ý kiến đóng góp của khách hàng.</span>
            </li>
            <li class="content--value">
                Phát triển vững bền:
                <span style="font-style: normal; font-weight: normal;">Nỗ lực không mệt mỏi và đầy tâm huyết trong mọi hoạt động để đưa doanh nghiệp ngày càng phát triển.</span>
            </li>
        </ul>
    </div>

</div>
